<div class="auth-main v1">
    <div class="bg-overlay bg-primary"></div>
    <div class="auth-wrapper">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body"><img src="../assets/images/logo-dark.svg" alt="" class="img-fluid mb-4 img-logo">
                    <h4 class="mb-3 f-w-400">Login Demo</h4>
                    <form #loginForm="ngForm" (ngSubmit)="Login(loginForm)" novalidate>
                        <div class="input-group mb-3"><span class="input-group-text"><i data-feather="user"></i></span>
                            <input type="text" id="username" class="form-control form-control-lg"
                                placeholder="Enter a valid username" name="username" ngModel required />

                        </div>
                        <div *ngIf="loginForm.controls['username']?.invalid 
                            && (loginForm.controls['username']?.touched || 
                            loginForm.controls['username']?.dirty)" class="text-danger mb-1 alert alert-danger p-1">Enter valid email.
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text"><i data-feather="lock"></i></span>
                            <input type="password" name="password" class="form-control" placeholder="Enter a password"
                                ngModel required>
                        </div>
                        <div *ngIf="loginForm.controls['password']?.invalid 
                            && (loginForm.controls['password']?.touched || 
                            loginForm.controls['password']?.dirty)" class="text-danger mb-1 alert alert-danger p-1">Enter valid password
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text"><i data-feather="lock"></i></span>
                            <select class="form-select" id="role" name="role" ngModel required>
                                <option selected disabled value="">Choose...</option>
                                <option>Admin</option>
                                <option>Customer</option>
                            </select>
                        </div>
                        <div *ngIf="loginForm.controls['role']?.invalid 
                            && (loginForm.controls['role']?.touched || 
                            loginForm.controls['role']?.dirty)" class="text-danger mb-1 alert alert-danger p-1">Select role
                        </div>
                        <div class="mb-3 mt-2">
                            <div class="form-check text-start"><input class="form-check-input" type="checkbox" value=""
                                    id="flexCheckChecked" checked=""> <label class="form-check-label"
                                    for="flexCheckChecked">Send me the <a href="#!">Newsletter</a> weekly.</label></div>
                        </div><button class="btn btn-primary btn-block mb-4"  [disabled]="loginForm.invalid" >Login</button>
                    </form>
                    <p class="mb-2">Don’t have an account? <a href="register-v1.html" class="f-w-400">New User
                            Register</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>